#root { display: flex; flex-direction: row; justify-content: space-between; }
#a { width: 80px; height: 50px; flex-shrink: 0; }
#b { width: 80px; height: 50px; flex-shrink: 0; }
#c { width: 80px; height: 50px; flex-shrink: 0; }
